* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items : center;
    justify-content: space-between;
    font-size: large;
}


.nav-logo {
    height :3rem;
    width : 150px;  
    background-image: url("/image/amazonlogo.jpg");
    background-size :cover;
}

#input {
    display: flex;
}

#button {
    width: 60px;
    color: black;
    font-size: 17px;
}

#placeholder {
    height : 30px;
    width: 500px;
    margin-right: 2px;
    font-size: 15px;
}

#options {
    color: white;
}
#options a {
    text-decoration: none;
    color: white;
}

#cart {
    text-decoration: none;
    color: white;
}

#navtwo {
    height: 5vh;
    width: 100%;
    background-color: #DDA853;
    color: black;
    display: flex;
    align-items: center;
    font-size: large;
    padding: 0 20px;
}

#ALL {
    margin-left: 20px;
    margin-right: 20px;
}

#nav2-options {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1; 
    gap: 10px; 
}

#option2 a {
    text-decoration: none;
    color: white;
}

.hero-section {
    height: 400px;
    background-image: url("/image/bgimg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    height: 40px;
    width: 90vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #2162A1;
    text-decoration: none;
}

main {
    height: 3100px;
    background-color: #e3e6e6;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.02);
}

.box h2 {
    height: 15px;
    margin-bottom: 50px;
}

.box1-img {
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-delay: 5s;
}

footer {
    position: relative;
    bottom: 0px;
}


.copyright {
    height: 5vh;
    width: 100vw;
    background-color: #131A22;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    height: 35vh;
    width: 100vw;
    background-color: #848a91 ;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.contact {
    height: 25vh;
    width: 23%;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    color: #DDD;
}

.box9 {
    height: 300px;
    width: 97%;
    background-color: white;
    margin-top: 15px;
}

.box9-content {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 20px;
    
}

.box9-img {
    height: 200px;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
}

.border1 :hover {
    box-sizing: border-box;
    outline: 2px solid white;  
}

.border2 :hover {
    box-sizing: border-box;
    outline: 2px solid black;
}

.return div :hover {
    outline: none;
}

.box10 h2,p {
    margin-left: 20px;
}

.box10-img {
    height: 300px;
    width: 200px;
    margin-top: -1rem;
    margin-bottom: 1rem;
    display: flex;
}

.demo {
    height: 100px;
    width: 145px;
    margin: 10px;
    margin-right: 25px;
}

.box10-img1 {
    font-size: smaller;
}

.navbar div {
    padding: 2px 2px 2px 2px;
}

#nav2-options div {
    padding: 4px 4px 4px 4px;
}

#nav2-options a {
    text-decoration: none;
    color: black;
}
